<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="author" content="Subhranath Chunder">
		<title>{% block title %}Django Custom Auths{% endblock title %}</title>
		{% block javascript %}{% endblock javascript %}
		{% block css %}{% endblock css %}
	</head>
	<body>
		<div id="content">
			{% block content %}{% endblock content %}
		</div>
	</body>
</html>
